body {
    background-color:#eddfdc;
    margin: 0;
}

.bigimg1 {
    width: 40%;
    background-image: url('../img/bigimg2.jpg');
    background-size: cover;
    max-height: 100vh;
}

.navbar {
    position: fixed;
    top: 0%;
    right: 0%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 1%;
    z-index: 1000   ;
}

.heading {
    display: none;
}

.subicon {
    cursor: pointer;
    display: block;
    width: 10%;
}

.subicon img {
    width: 100%;
    height: auto;
}

.subheadings {
    display: block;
    padding: 2%;
    text-decoration: none;
    color: #7a1919;
}

a.subheadings:hover {
    color: #784d4d;
    transition: 0.5s ease-in-out;
}

.menu {
    font-size: 30px;
    font-family: Arial black, sans-serif;
    position: fixed;
    top: 0;
    right: -70%;
    width: 57%;
    height: 100vh;
    background: #7a1919;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.7);
    padding: 2%;
    transition: right 0.5s ease;
}

.menu a {
    display: block;
    margin-top: 7%;
    padding: 1%;
    text-decoration: none;
    color: #c7bcbc;
    text-align: center;
}

.heading:checked ~ .menu {
   right: 0;
}

.closebutton {
    position: absolute;
    cursor: pointer;
    display: block;
    width: 8%;
    top: 2%;
    right: 2%;
}

.closebutton img {
    width: 100%;
    height: auto;
}

.row-container {
    display: flex;
    gap: 1%;
}

.flex-containerthree {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 2px;
    padding-right: 10px;
    width: 60%;
    max-height: 100vh;
    overflow: auto;
}

.page2 h2 {
    padding-top: 18%;
    padding-left: 1%;
    font-size: 60px;
    color: #7a1919;
    margin-bottom: 10px;
    text-align: right;
}

.page2 p {
    font-size: 19px;
    color: rgb(32, 31, 31);
    line-height: 1.5;
    text-align: right;
}

.childpics {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 10px;
}

.childpics img {
    width: 24%;
    max-width: 100%;
}

.childpics1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 10px;
}

.childpics1 img {
    width: 24%;
    max-width: 100%;
}

.childpics2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 10px;
}

.childpics2 img {
    width: 32.2%;
    max-width: 100%;
}

